!!! 5
%html
  - TITLE = "EsTemporary"
  %head
    %title= TITLE
    = partial :metas
    -# %link{ rel: "stylesheet", href: "/css/jq_fancybox.css" }
    -# %link{ rel: "stylesheet", href: "/css/main.css" }
    %link{ rel: "stylesheet", href: "/css/all.css" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, user-scalable=no" }
    %meta{ name: "apple-mobile-web-app-capable", content: "yes" }
    %link{ rel: "apple-touch-icon", href: "/img/estemporary_logo_mini.jpg" }
  %body
    #container
      %header
        %h1
          %a{ href: "/" }
            %img{ src: "/imgs/estemporary_logo_mini.jpg" }
            %span.title= TITLE
            %span.by by Silvia Piantini

        %nav
          %a{ :"data-subnav" => "coll", href: "javascript:void(0)"} Latest Collections
          .subnav{ :"data-name" => "coll", class: "#{"open" if subsection == "latest_collections"}" }
            - COLLECTIONS.each do |coll|
              %a{ href: "/gallery/latest_collections/#{coll[:dir]}", class: "#{"selected" if subpath(3) == coll[:dir]}" }= coll[:name].humanize
          / %a{ href: "/gallery/lookbook", class: nav_sub_sel("lookbook") } Lookbook
          %a{ :"data-subnav" => "coll_past", href: "javascript:void(0)"} Past Collections
          .subnav{ :"data-name" => "coll_past", class: "#{"open" if subsection == "past_collections"}" }
            - PAST_COLL.uniq.each_with_index do |coll, idx|
              - next if idx == 5 # FIXME: SCEM COLLECTION DOPPIO
              %a{ href: "/gallery/past_collections/#{coll[:dir]}", class: "#{"selected" if subpath(3) == coll[:dir]}" }= coll[:name].humanize
          %a{ href: "/concept", class: nav_selected("concept") } Concept
          %a{ href: "/contacts", class: nav_selected("contacts") } Contacts
      %section.content= yield
      .clear
    -# %script{ src: "/js/jquery.js",      type: "text/javascript" }
    -# %script{ src: "/js/jq_fancybox.js", type: "text/javascript" }
    -# %script{ src: "/js/app.js",         type: "text/javascript" }
    %script{ src: "/js/all.js",         type: "text/javascript" }
    - if ENV["RACK_ENV"] == "production"
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-10682634-15']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();