!!! 5
%html
  - TITLE = "EsTemporary"
  %head
    %title= TITLE
    = partial :metas
    %link{ rel: "stylesheet", href: "/css/jq_fancybox.css" }
    %link{ rel: "stylesheet", href: "/css/main.css" }
    %script{ src: "/js/jquery.js", type: "text/javascript" }
    %script{ src: "/js/jq_fancybox.js", type: "text/javascript" }
    %script{ src: "/js/app.js", type: "text/javascript" }
  %body
    #container
      %header
        %h1
          %a{ href: "/" }
            %img{ src: "/imgs/estemporary_logo_mini.jpg" }
            %span.title= TITLE
            %span.by by Silvia Piantini

        %nav
          %a{ href: "/collections" }  Collections
          .subnav
            - Dir.glob("#{PATH}/public/photos/collections/*").each do |dir|
              %a{ href: "/" }= File.basename(dir).gsub(/_/, ' ').capitalize
          %a{ href: "/contacts" }     Contacts
      %section.content= yield
      .clear
    %script{ type: "text/javascript", src: "/js/app.js" }